* {
    font-family: Arial, Helvetica, sans-serif;
}

#master-table-div {
    width: 95%;
    margin: auto;
}
table, td, th {
    border: 1px solid black;    
}

tr:first-of-type {
    height: 40px;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    /* width: 500px; */
}

td {
    /* padding: 10px; */
}

td:first-child {
    text-align: center;
}

.date_column {
    width: 150px;
}

td div {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 8px;
}